
body {
    background-color: rgb(180, 180, 180);
    width: 90%;
    margin-left: 10%;
}

#app {
    width: 100%;
}
.container {
    margin-right: 22%;
    display: flex;
    justify-content: center;
    background-color:rgb(180, 180, 180);
}

.page {
    background-color: rgb(180, 180, 180);
    width: 90%;
    height: 100%;
}

.sidebar {
    width: 10%;
    height: 6vh;
}

#selected {
    position: relative;
    width: auto;
    height: auto;
    background-color: rgb(180, 180, 180);
    color: black;
}

#currentPage {
    position: relative;
    width: 100%;
}

#select {
    position: relative;
    width: 100%;
}

.userInfo {
    margin: auto;
    margin-left: 37%;
    margin-top: 20%;
    width: 10vh;
    height: 20vh;
}

.password {
    position: relative;
    background-color: rgb(180, 180, 180);
    color: black;
}

.username {
    position: relative;
    background-color: rgb(180, 180, 180);
    color: black;
}

.login {
    margin-top: 3.9%;
    background-color: rgba(43, 39, 39, 0.664);
    color: white;
    
}

#currentUser {
    border: solid black 2px;
    border-left: solid black 1px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom: solid black 1px;
    float: right;
    background-color: rgba(39, 38, 37, 0.753);
    color: white;
    height: 6vh;
    width: 12%;
}

.pollPage {
    margin-top: 12%;
    margin-left: 10%;
    width: 80%;
    height: 70vh;

}

.poll {
    border: solid black 1px;
    border-radius: 4px;
    width: 100%;
    height: 25%;
    background-color: rgb(141, 139, 137);
}

.alternatives {
    width: 100%;
    height: 17%;
    background-color: rgb(187, 187, 199);
    display: flex;
    justify-content: space-between;
    border-bottom: solid black 1px;
}

.voteButton {
    background-color: rgb(166, 166, 190);
}

.question {
    width: 100%;
    height: 15%;
}

.createPoll {
    padding-bottom: 3%;
    margin-top: 5%;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    background-color: rgb(143, 143, 143);
    border: solid black 2px;
    border-radius: 3px;
    
}

.text {
    border: solid rgba(0, 0, 0, 0) 1px;
    border-radius: 4px;
    padding-right: 100px;
    margin-left: 40%;
    margin-top: -70%;
    margin-bottom: 60%;
}


.input {
    display: flex;
    flex-direction: row;
    height: 6%;
    width: 40%;
}

.inputQuestion {
    display: flex;
    margin-top: 5.5%;
    height: 6%;
    width: 100%;
    justify-content: center;
}

.inputAlternatives {
    margin-top: 5.5%;
    width: 100%;
    height: 100%;
    display: flex;

    flex-direction: column;
}

.makePoll {
    margin-top: 5%;
    height: 4.5%;
    width: 23%;
}

.makeAlternative {
    clear: left;
    right: 10%;
}

.finished {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}