body {
    background-color: aliceblue;
    width: 90%;
    margin-left: 10%;
}

#app {
    width: 100%;
}
.container {
    margin-right: 22%;
    display: flex;
    justify-content: center;
    background-color: grey;
}

.page {
    background-color: rgb(134, 126, 126);
    width: 90%;
    height: 120vh;
}

.sidebar {
    width: 10%;
    height: 6vh;
}

#selected {
    position: relative;
    width: auto;
    height: auto;
    background-color: whitesmoke;
    color: black;
}

#currentPage {
    position: relative;
    width: 100%;
}

#select {
    position: relative;
    width: 100%;
}

.userInfo {
    margin: auto;
    margin-left: 37%;
    margin-top: 20%;
    width: 10vh;
    height: 20vh;
}

.password {
    position: relative;
}

.username {
    position: relative;
    
}

.login {
    margin-top: 3.9%;
    
}

#currentUser {
    border-left: solid black 1px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom: solid black 1px;
    float: right;
    background-color: blanchedalmond;
    height: 6vh;
    width: 12%;
}

.pollPage {
    margin-top: 12%;
    margin-left: 10%;
    width: 80%;
    height: 70vh;

}

.poll {
    width: 100%;
    height: 25%;
    background-color: blanchedalmond;
}

.alternatives {
    width: 100%;
    height: 17%;
    background-color: rgb(220, 220, 235);
    display: flex;
    justify-content: space-between;
    border-bottom: solid black 1px;
}

.voteButton {
    background-color: rgb(141, 141, 160);
}

.question {
    width: 100%;
    height: 15%;
}

.createPoll {
    margin-top: 5%;
    width: 100%;
    height: 50%;
    background-color: rgb(124, 116, 124);
    display: flex;
    justify-content: center;
}

.input {
    display: flex;
    flex-direction: row;
    height: 6%;
    width: 40%;
}

.inputQuestion {
    display: flex;
    margin-top: 5.5%;
    height: 6%;
    width: 100%;
    justify-content: center;
}

.inputAlternatives {
    margin-top: 5.5%;
    width: 100%;
    height: 100%;
    display: flex;

    flex-direction: column;
}

.makePoll {
    margin-top: 5%;
    height: 4.5%;
    width: 23%;
}

.makeAlternative {
    clear: left;
    right: 10%;
}

.finished {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}